* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #153677, #4e085f);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-app {
  width: 100%;
  max-width: 540px;
  background: #fff;
  margin: 20px auto;
  padding: 30px 20px 50px;
  border-radius: 10px;
}
.todo-app h2 {
  color: #002765;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  font-size: 1.5rem;
}
.todo-app h2 img {
  width: 25px;
  margin-left: 8px;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #edeef0;
  border-radius: 30px;
  padding-left: 15px;
  margin-bottom: 20px;
}
input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
  font-size: 14px;
}
button {
  border: none;
  outline: none;
  padding: 12px 20px;
  background: #ff5945;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  border-radius: 40px;
}
ul li {
  list-style: none;
  font-size: 16px;
  padding: 10px 8px 10px 40px;
  user-select: none;
  cursor: pointer;
  position: relative;
}
ul li::before {
  content: '';
  position: absolute;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background-image: url(images/unchecked.png);
  background-size: cover;
  background-position: center;
  top: 10px;
  left: 8px;
}
ul li.checked {
  color: #555;
  text-decoration: line-through;
}
ul li.checked::before {
  background-image: url(images/checked.png);
}
ul li span {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 35px;
  height: 35px;
  font-size: 20px;
  color: #555;
  line-height: 35px;
  text-align: center;
  border-radius: 50%;
}
ul li span:hover {
  background: #edeef0;
}

/* Responsive Design */
@media (max-width: 600px) {
  .todo-app {
    max-width: 90%;
    padding: 20px 15px 40px;
  }
  .row {
    flex-direction: column;
    padding: 10px;
    border-radius: 20px;
  }
  input {
    width: 100%;
    padding: 8px;
  }
  button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    font-size: 14px;
  }
}
